@import '../../../../../assets/styles/variables';

.button {
	font-size: 15px;
	background-color: $accent;
	border: none;
	outline: none;
	border-radius: 30px;
	box-shadow: 0 3px 6px rgba($accent, 0.4);
	display: flex;
	align-items: center;
	padding: 7px 24px;
	padding-right: 7px;
	transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
	margin: 3rem auto 0;

	&:hover {
		background-color: lighten($accent, 4%);
		box-shadow: 0 3px 6px rgba($accent, 0.6);
	}

	.text {
		color: $white;
		margin-right: 20px;
		font-weight: 500;
	}

	.icon {
		background-color: #fff;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
