@import '../../../../assets/styles/variables';

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(15, 15, 16, 0.97);

	> nav {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;

		> button {
			margin: 0 2rem;

			> span {
				transition: color 0.4s ease;
				font-size: 2rem;
				color: $gray;
			}

			&:hover,
			&.active {
				> span {
					color: $accent;
				}
			}
		}
	}
}
